*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DIN, sans-serif;
}

html{
    font-size: 62.5%;
}

@media (min-width: 770px){

header{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 800px;
    height: 789px;
    min-height: 789px;
    background-color: black;
}

header .header-fondo-paisaje{

    position: absolute;
    object-position: center;
    object-fit: cover;
    
    
}

header .header-fondo-degrade{

    position: absolute;
    object-fit: cover;
    bottom: 0;
}

header nav{
    top: 0;
    height: 94px;
    position: relative;
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
    align-items: center;
}

.header-nav-links{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    height: 51px;
}

.header-nav-links a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: white;
    margin-right: 24px;
}

.header-nav-button-container{
    display: flex;
    justify-content: end;
    margin-left: 9px;
    border-left: 1px solid #FFFFFF;
}
.header-nav-button-container .iniciar-sesion{
    width: 129px;
    height: 36px;
    background-color: #0451DD;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: white;
    border-radius: 4px;
    border: none;
    margin-left: 24px;
    margin-right: 15px;
}

.header-nav-button-container .adherirme{
    width: 109px;
    height: 36px;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: black;
    border-radius: 4px;
    border: none;
}

header nav .header-nav-logo{

    width: 136.5px;
    height: 30.09px;
}

header nav .header-nav-menu{
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

.header-contenedor-central{
    
    display: flex;}

header .header-parteAlta{
    position: relative;
    margin-top: 187px;
    margin-left: 70px;
}

header .header-parteAlta h2{
    width: 482px;
    font-size: 4.8rem;
    line-height: 58.61px;
    font-weight: 700;
    color: white;
}

header .header-parteAlta p{

    width: 82.6%;
    height: 57px;
    margin-top: 29px;
    font-size: 1.6rem;
    line-height: 19.2px;
    font-weight: 500;
    color: white;
}

header .header-parteAlta button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    width: 186px;
    height: 45px;
    background-color: #0451DD;
    color: white;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
    border-radius: 4px;
    border: none;

}

header .header-parteBaja{
    width: 100%;
    height: 695px;
    position: relative;
    overflow: hidden;
}
header .header-parteBaja img{
    position: absolute;
}
header .header-parteBaja a{
    position: absolute;
    bottom: 148.72px;
}

.header-circulo{
    top: 108px;
    left: 0px;
    width: 49.20px;
    height: 48.20px;
}

.header-barraBlanca{
    width: 127.35px;
    height: 192.95px;
    left: 48.13px;
    top: 132.12px;
}

.header-parteAzul{
    width: 118.17px;
    height: 65.6px;
    left: 430.11px;
    bottom: 124.91px;
}

.header-camion{
    width: 615.52px;
    height: 386.87px;
    left: 175.48px;
    bottom: 188.51px;
}

.header-paisaje{
    width: 432px;
    height: 397px;
    left: 0px;
    bottom: -26px;
}

.header-icono-youtube{
    right: 243.42px;
    width: 17.28px;
    height: 12.57px;
}

.header-icono-linkedin{
    width: 16.83px;
    height: 16.83px;
    right: 185.75px;
}

.header-icono-facebook{
    width: 10.38px;
    height: 20px;
    right: 134.53px;
}

.header-icono-twitter{
    width: 16.31px;
    height: 12.88px;
    right: 77.49px;
}

.header-linea-horizontal{
    position: absolute;
    left: 1030px;
    bottom: 125px;
    width: 32.8%;
    height: 0.6px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    opacity: 0.3;

}

.header-linea-vertical{
    position: absolute;
    height: 695px;
    width: 0.6px;
    bottom: 0;
    left: 40.2%;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    opacity: 0.3;

}

.destacados{
    margin-top: 0;
    background-color: white;
    width: 100%;
    min-width: 800px;
    height: 663px;
    padding-bottom: 50px;
}

.destacados-items{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 134px 149px;
    flex-direction: row;
}

.destacados-barraLarga, .destacados-barraCurva, .destacados-barraCorta{
    position: absolute;   
}

.destacados-barraLarga{
    right: 0;
    top: 170px;
    width: 534px;
    height: 67px;
}
.destacados-barraCurva{
    right: 504px;
    top: 37px;
    width: 132px;
    height: 200px;
}
.destacados-barraCorta{
    right: 569px;
    top: -30px;
    height: 94px;
    width: 67px;
}


.destacados-titulo{
    display: inline-block;
    height: 44px;
    width: 100%;
    color: black;
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 400;
    
}

.destacados-items article{
    margin-top: 100px;
    width: 190px;
    height: 235px;
    
}

.destacados-item-icono{
    width: 90px;
    height: 90px;
}
.destacados-item-titulo{
    font-weight: 700;
    margin-top: 16px;
    font-size: 2.4rem;
    line-height: 3.0rem;
    color: #3C3C3C;
}

.destacados-item-descripcion{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.92rem;
    color: #3C3C3C;
}

.planes{
    width: 100%;
    min-width: 800px;
    height: 894px;
    margin-bottom: 65px;
}

.planes-background{
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
    opacity: 0.04;
}

.planes-background-barra{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.7;
}


.planes-container-textos{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 73px;
}

.planes-titulo{
    text-align: center;
    width: 82.4%;
    font-size: 4.8rem;
    line-height: 5.861rem;
    font-weight: 700;
    color: black;
    
}

.planes-subtitulo{
    margin-top: 24px;
    width: 82.4%;
    font-size: 1.6rem;
    line-height: 1.92rem;
    font-weight: 400;
    color: #3C3C3C;
    text-align: center;
}

.planes-container{
    display: flex;
    justify-content: center;
    
    
}

.planes-container-avanzado{
    padding: 50px 51px;
    position: relative;
    width: 363px;
    height: 542px;
    background-image: url(../assets/imagenes/planAvanzado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 8px;
    order: 2;
    margin: 0 24px;
}

.planes-container-basicos{
    padding: 93px 50px 65px 43px;
    position: relative;
    width: 329px;
    height: 467px;
    background-image: url(../assets/imagenes/planesBlancos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 8px;
}

.planes-avanzado-subtitulo{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: white;
    margin-top: 24px;
}

.planes-avanzado-caracteristicas{
    width: 240px;
    height: 240px;
    font-size: 1.2rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin-top: 24px;
    margin-left: 20px;
    color: white;
    
}

.planes-avanzado-boton{
    width: 143px;
    height: 31px;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #00407B;
    font-weight: 700;
}

.planes-basico-subtitulo{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    color: black;
    margin-top: 16px;
}

.planes-basico-caracteristicas{
    font-size: 1.2rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: #3C3C3C;
    margin-left: 10px;
    margin-top: 26px;
}

.planes-basico-boton{
    width: 143px;
    height: 31px;
    background-color: #00407B;
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 26px;
}

#plan-flexible{
    order: 3;
}
#plan-clasico{
    order: 1;
}

.imagenFondoBoton{
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
}

.planes-avanzado, .planes-basicos{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.4rem;
    background-color: transparent;
    border: transparent;

}

.planes-avanzado{
    color: #00ADEE;
}

.planes-basicos{
    color: #00407B;
}

.formulario{
    position: relative;
    display: flex;
    background-color: black;
    height: 803px;
    width: 100%;
    overflow: hidden;
    padding: 0 180px;
    justify-content: space-between;
    padding-bottom: 95px;
}

.fondoForm-elipse, .fondoForm-camion, .fondoForm-ele, .fondoForm-desktop-elipse, .fondoForm-desktop-pedacito {
    position: absolute;
}

.fondoForm-desktop-pedacito{
    object-fit: contain;
    width: 123px;
    height: 68px;
    right: 181px;
    top: 65px;
}

.fondoForm-desktop-elipse{
    left: 0;
    bottom: 0;
}

.fondoForm-elipse{
    object-fit: contain;
    width: 0;
    height: 0;
}

.fondoForm-camion{
    object-fit: contain;
    width: 180px;
    height: 431px;
    bottom: -8px;
    right: 0;
}

.fondoForm-ele{
    width: 168px;
    height: 277px;
    bottom: -8px;
    right:571px;
}

.form-container-textos{
    width: 332px;
    margin-top: 154px;
}

.form-container-textos h3{
    font-size: 4.8rem;
    line-height: 5.861rem;
    font-weight: 700;
    color: white;
}

.form-container-textos p{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.92rem;
    font-weight: 500;
    color: white;
}

.formulario-inputs{
    margin-top: 171px;
    height: 537px;
    width: 639px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 4px;
}

.formulario-inputs form{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.formulario-inputs form input{
    margin-bottom: 14px;
    width: 48%;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 10px 20px;
}

.formulario-inputs form select option{
    padding: 8px;
}

.formulario-inputs form input::placeholder{
    color: #AFAFAF;
}

.formulario-inputs form .input-nombreEmpresa::placeholder{
    color: #0451DD;
    ;
}


.formulario-inputs form select{
    width: 48%;
    margin-bottom: 14px;
    height: 44px;
    background-color: white;
    border: none;
    border-radius: 4px;
}

.formulario-inputs form .consulta{
    width: 100%;
    height: 128px;
    margin-bottom: 0px;

}

.switch-button{
    display: flex;
    align-items: center;
}

.formulario-inputs form .switch-button span{
    display: inline;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: white;
    margin-top: 37px;


}

.formulario-inputs form .switch-button .switch-button-checkbox{
    width: 50px;
    height: 22.94px;
    margin-top: 37px;
}

.captcha{
    left: 0px;
    margin-top: 33px;
    padding: 26px 20px;
    width: 304px;
    height: 76px;
    background-color: #AFAFAF;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.92rem;
    font-weight: 400;
    color: white;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    
    
}


.formulario-inputs form .botonEnviar{
    margin-top: 20px;
    padding: 8.5px 10px;
    width: 186px;
    height: 45px;
    color: white;
    background-color: #0451DD;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
    
}


footer{
    height: 373px;
    width: 100%;
    border-top: 4px solid #0451DD;
    background-color: #252525;
}

.footer{
    position: relative;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: row;
}

.footer .footer-logo{
    width: 190px;
    height: 92px;
    margin-left: 70px;
    margin-top: 95px;

}

footer .footer-linksInternos{
    position: absolute;
    left: calc(50% - 209px);
    margin-top: 95px;
    width: 152px;
    height: 156px;
    font-size: 1.4rem;
    line-height: 2.0rem;
    display: flex;
    flex-direction:column;
}

footer .footer-linksInternos a{
    text-decoration: none;
    margin-bottom: 14px;
    color: white;

}

footer .footer-linksExternos{
    position: absolute;
    left: calc(50% + 10px);
    width: 165px;
    height: 78px;
    margin-top: 173px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.0rem;
    justify-content: space-between;
}

footer .footer-linksExternos div{
    display: flex;
    justify-content: space-between;
}

footer .footer-linksExternos div p{
    margin-bottom: 9px;
    color: #858585;
}

footer .footer-linksExternos div img{
    width: 5.45px;
    height: 12px;
}

.footer .footer-redes{
    position: absolute;
    left: calc(50% + 10px);
    margin-top: 95px;
    width: 164px;
    height: 47.65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer-redes p{
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 700;
    color: white;
}

.footer .footer-redes img{
    height: 14px;
    width: 14px;
    margin-top: 14px;
}

.footer-iniciarSesion, .footer-registrarse{
    position: absolute;
    right: 80px;
    width: 109px;
    height: 36px;
    font-size: 1.4rem;
    line-height: 2.0rem;
    color: white;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.footer-iniciarSesion{
    margin-top: 68px;
    margin-bottom: 10px;
}
.footer-registrarse{
    margin-top: 129px;

}

footer .footer-terminos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 51px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: white;
    text-align: center;
    border-top: 2.72px solid white;
}

footer .footer-terminos p{
    width: 89%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.9;
}

}