*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DIN, sans-serif;
}

html{
    font-size: 62.5%;
}

@media (max-width:769px){

header{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    height: 1058px;
    min-height: 1058px;
    background-color: black;
}

.header-nav-links{
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
}

header .header-fondo-paisaje{

    position: absolute;
    object-position: center;
    object-fit: cover;
    left: -115px;
    
}

header .header-fondo-degrade{

    position: absolute;
    object-fit: cover;
    bottom: 0;
}

header nav{
    position: relative;
    display: flex;
    margin-top: 72px;
    margin-left: 20px;
    margin-right: 17.5px;
    justify-content: space-between;
}

header nav .header-nav-logo{

    width: 136.5px;
    height: 30.09px;
}

header nav .header-nav-menu{

    width: 32px;
    height: 32px;
}

.header-contenedor-central{position: relative;}

header .header-parteAlta{
    position: relative;
    margin-top: 75px;
    margin-right: 20px;
    margin-left: 20px;
}

header .header-parteAlta h2{
 
    font-size: 3.6rem;
    line-height: 44px;
    font-weight: 400;
    color: white;
}

header .header-parteAlta p{

    width: 82.6%;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 19.2px;
    font-weight: 500;
    color: white;
}

header .header-parteAlta button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    width: 186px;
    height: 45px;
    background-color: #0451DD;
    color: white;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
    border-radius: 4px;
    border: none;

}

header .header-parteBaja{
    width: 100%;
    height: 578px;
    position: relative;
    overflow: hidden;
}
header .header-parteBaja img{
    position: absolute;
}
header .header-parteBaja a{
    position: absolute;
    bottom: 67.72px;
}

.header-circulo{
    top: 80px;
    left: 20px;
    width: 26.28px;
    height: 26.28px;
}

.header-barraBlanca{
    width: 68.03px;
    height: 103.08px;
    left: 45.67px;
    top: 92px;
}

.header-parteAzul{
    width: 63.39px;
    height: 35.05px;
    left: 249.75px;
    bottom: 254px;
}

.header-camion{
    width: 328.81px;
    height: 206.67px;
    left: 113.73px;
    bottom: 286.66px;
}

.header-paisaje{
    width: 230.78px;
    height: 212.08px;
    left: 20px;
    bottom: 172px;
}

.header-icono-youtube{
    left: 22px;
    width: 17.28px;
    height: 12.57px;
}

.header-icono-linkedin{
    width: 16.83px;
    height: 16.83px;
    left: 80.12px;
}

.header-icono-facebook{
    width: 10.38px;
    height: 20px;
    left: 137.78px;
}

.header-icono-twitter{
    width: 16.31px;
    height: 12.88px;
    left: 189px;
}

.header-linea-horizontal{
    position: absolute;
    left: 250px;
    bottom: 254px;
    width: 32.8%;
    height: 0.6px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    opacity: 0.3;

}

.header-linea-vertical{
    position: absolute;
    height: 296px;
    width: 0.6px;
    bottom: 0;
    left: 251px;
    background: linear-gradient(to Bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    opacity: 0.3;

}

.destacados{
    background-color: white;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom: 50px;
}

.destacados-items{
    overflow: hidden;
    position: relative;
    display: flex;
    margin-top: 60px;
    padding: 0 72px;
    flex-direction: column;
}
.destacados-barraLarga, .destacados-barraCurva, .destacados-barraCorta{
    position: absolute;
    width: 0px;
    height: 0px;
}

.destacados-titulo{
    height: 224px;
    width: 100%;
    color: black;
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

.destacados-items article{
    width: 100%px;
    height: 20%;
    margin-bottom: 35px;
}

.destacados-item-icono{
    width: 90px;
    height: 90px;
}
.destacados-item-titulo{
    margin-top: 16px;
    font-size: 2.4rem;
    line-height: 3.0rem;
    color: #3C3C3C;
}

.destacados-item-descripcion{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.92rem;
    color: #3C3C3C;
}

.planes{
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-bottom: 65px;
}

.planes-background{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.04;
}

.planes-background-barra{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
}

.planes-container-textos{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 73px;
}

.planes-titulo{
    width: 82.4%;
    font-size: 4.8rem;
    line-height: 5.861rem;
    font-weight: 700;
    color: black;
    
}

.planes-subtitulo{
    margin-top: 16px;
    width: 82.4%;
    font-size: 1.6rem;
    line-height: 1.92rem;
    font-weight: 500;
    color: #3C3C3C;
}

.planes-container-avanzado{
    padding: 25.28px 33px 36.43px;
    position: relative;
    overflow: hidden;
    width: 87%;
    max-width: 326px;
    min-width: 278px;
    height: 100px;
    background-color: #00407B;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

.planes-container-basicos{
    padding: 25.28px 33px 36.43px;
    position: relative;
    overflow: hidden;
    width: 87%;
    max-width: 326px;
    min-width: 278px;
    height: 100px;
    background-color: white;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;

}

.planes-container-avanzado p{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -100px
}

.planes-container-avanzado button{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -100px
}

.planes-container-basicos p{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -100px
}

.planes-container-basicos button{
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    top: -100px
}

.imagenFondoBoton{
    position: absolute;
    right: 0;
}

.planes-avanzado, .planes-basicos{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.4rem;
    background-color: transparent;
    border: transparent;
    text-align: center;
    width: 100%;
    height: 100%;

}

.planes-avanzado{
    color: #00ADEE;
}

.planes-basicos{
    color: #00407B;
}

.formulario{
    position: relative;
    background-color: black;
    height: 1287px;
    overflow: hidden;
}

.fondoForm-elipse, .fondoForm-camion, .fondoForm-ele, .fondoForm-desktop-elipse, .fondoForm-desktop-pedacito {
    position: absolute;
}

.fondoForm-desktop-elipse, .fondoForm-desktop-pedacito{
    width: 0;
    height: 0;
}

.fondoForm-elipse{
    z-index: 0;
    right: 0;
    top: 0;
}

.fondoForm-camion{
    bottom: 0;
    right: 0;
}

.fondoForm-ele{
    bottom: 121.73px;
    left: 7.2%;
}

.form-container-textos{
    width: 88.5%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 57px;
}

.form-container-textos h3{
    font-size: 4.8rem;
    line-height: 5.861rem;
    font-weight: 700;
    color: white;
}

.form-container-textos p{
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.92rem;
    font-weight: 500;
    color: white;
}

.formulario-inputs{
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.formulario-inputs form{
    display: flex;
    flex-direction: column;
    width: 90%;
    z-index: 1;
}

.formulario-inputs form input{
    margin-top: 16px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 10px 20px;
}

.formulario-inputs form select option{
    padding: 8px;
}

.formulario-inputs form input::placeholder{
    color: #AFAFAF;
}

.formulario-inputs form .input-nombreEmpresa::placeholder{
    color: #0451DD;
    ;
}


.formulario-inputs form select{
    width: 100%;
    margin-top: 16px;
    height: 44px;
    background-color: white;
}

.formulario-inputs form .consulta{
    height: 128px;

}

.switch-button{
    display: flex;
    align-items: center;
}

.formulario-inputs form .switch-button span{
    display: inline;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 700;
    color: white;
    margin-top: 37px;


}

.formulario-inputs form .switch-button .switch-button-checkbox{
    width: 50px;
    height: 22.94px;
    margin-top: 37px;
}

.captcha{
    left: 0px;
    margin-top: 44px;
    padding: 26px 20px;
    width: 81.4%;
    height: 76px;
    background-color: #AFAFAF;
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.92rem;
    font-weight: 400;
    color: white;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    
    
}


.formulario-inputs form .botonEnviar{
    padding: 8.5px 10px;
    width: 186px;
    height: 45px;
    margin-left: 0px;
    color: white;
    background-color: #0451DD;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1.6rem;
}


footer{
    height: 847px;
    width: 100%;
    border-top: 7px solid #0451DD;
    background-color: #252525;
}

.footer{
    margin: 75px 28% 40px 21%; 
}

.footer .footer-logo{
    width: 190px;
    height: 92px;
}

footer .footer-linksInternos{
    margin-top: 44px;
    font-size: 1.4rem;
    line-height: 2.0rem;
    display: flex;
    flex-direction: column;
}

footer .footer-linksInternos a{
    text-decoration: none;
    margin-bottom: 14px;
    color: white;

}

footer .footer-linksExternos{
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.0rem;
    justify-content: space-between;
}

footer .footer-linksExternos div{
    display: flex;
    justify-content: space-between;
}

footer .footer-linksExternos div p{
    margin-bottom: 9px;
    color: #858585;
}

footer .footer-linksExternos div img{
    width: 5.45px;
    height: 12px;
}

.footer .footer-redes{
    margin-top: 15px;
    width: 164px;
    height: 47.65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer-redes p{
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 700;
    color: white;
}

.footer .footer-redes img{
    height: 14px;
    width: 14px;
    margin-top: 14px;
}

.footer-iniciarSesion, .footer-registrarse{
    width: 109px;
    height: 36px;
    font-size: 1.4rem;
    line-height: 2.0rem;
    color: white;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.footer-iniciarSesion{
    margin-top: 45px;
    margin-bottom: 15px;
}

footer .footer-terminos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 113px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    color: white;
    text-align: center;
    border-top: 2.72px solid white;
}

footer .footer-terminos p{
    width: 89%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.9;
}
}

